h1 {
  text-indent: -999px;
  margin:0px;
  vertical-align: middle;


}
header img{
	display: block;
	padding: 10px;
}

header h1, header nav{
	display: :inline-block;

}

header {
  background: grey;
  padding-right: 50px;
  padding-left: 50px;
}

nav ul li{
	display: inline-block;
	margin-right: 20px; 
}

nav ul li a{
	display: block;
	text-decoration: none;
	padding-left: 50px;
	padding-right: 100px;
}




header nav ul li {
  display: inline-block;
}

